In [18]:
#import the required packages for linear and polynomial regression
import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
import glob

%matplotlib inline
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix


from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model

In [20]:
#Getting the data from the csv files 

path = r'./Temp'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)

In [26]:
df = pd.read_csv('./merge.csv', index_col=None, header=0)

In [27]:
df

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,9/3/2020 4:30,32.3182,-86.9023,128239,2217,51154.0,74868,1,2615.422424,964233,NaN,1.728803,84000001,USA,19665.44195,NaN
1,Alaska,US,9/3/2020 4:30,61.3707,-152.4044,5362,39,2281.0,3042,2,732.969264,376884,NaN,0.727341,84000002,USA,51518.90861,NaN
2,Arizona,US,9/3/2020 4:30,33.7298,-111.4312,202861,5065,31021.0,166775,4,2787.043376,1213927,NaN,2.496784,84000004,USA,16677.76065,NaN
3,Arkansas,US,9/3/2020 4:30,34.9697,-92.3731,62112,841,56261.0,5010,5,2058.185356,737449,NaN,1.354006,84000005,USA,24436.61020,NaN
4,California,US,9/3/2020 4:30,36.1162,-119.6816,721281,13317,NaN,707964,6,1825.462971,11580370,NaN,1.846298,84000006,USA,29308.32315,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,Virginia,US,9/27/2020 4:30,37.7693,-78.1700,145408,3144,17255.0,124870,51,1701.911741,1993344,NaN,2.162914,84000051,USA,23353.51840,NaN
1296,Washington,US,9/27/2020 4:30,47.4009,-121.4905,85830,2100,NaN,83730,53,1127.133369,1801021,NaN,2.446697,84000053,USA,23651.29753,NaN
1297,West Virginia,US,9/27/2020 4:30,38.4912,-80.9545,15167,337,11121.0,3709,54,846.303344,542291,NaN,2.221929,84000054,USA,30259.29235,NaN
1298,Wisconsin,US,9/27/2020 4:30,44.2685,-89.6165,113645,1281,94094.0,18270,55,1951.846942,1513643,NaN,1.127194,84000055,USA,25996.73951,NaN
1299,Wyoming,US,9/27/2020 4:30,42.7560,-107.3025,5465,50,4479.0,936,56,944.261774,97871,NaN,0.914913,84000056,USA,16910.49297,NaN

In [28]:
df.columns.values
#df.drop(['B', 'C'], axis=1)

array(['Province_State', 'Country_Region', 'Last_Update', 'Lat', 'Long_',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'FIPS',
       'Incident_Rate', 'People_Tested', 'People_Hospitalized',
       'Mortality_Rate', 'UID', 'ISO3', 'Testing_Rate',
       'Hospitalization_Rate'], dtype=object)

In [29]:
ds = df.drop(['Province_State', 'Country_Region', 'Last_Update', 'Lat', 'Long_',
       'Recovered', 'Active', 'FIPS',
       'Incident_Rate', 'People_Tested', 'People_Hospitalized',
       'Mortality_Rate', 'UID', 'ISO3', 'Testing_Rate',
       'Hospitalization_Rate'], axis=1)

In [31]:
new_col = [i for i in range (0,1300)]  # can be a list, a Series, an array or a scalar   
ds.insert(loc=0, column='ForcastID', value=new_col)

ds

      ForcastID  Confirmed  Deaths
0             0     128239    2217
1             1       5362      39
2             2     202861    5065
3             3      62112     841
4             4     721281   13317
...         ...        ...     ...
1295       1295     145408    3144
1296       1296      85830    2100
1297       1297      15167     337
1298       1298     113645    1281
1299       1299       5465      50

[1300 rows x 3 columns]

In [32]:
ds.to_csv(r'./First_Result.csv', index = False)